
.center {
	margin:0 auto;
	height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    /*vertical-align: middle;*/
    top:20px;
}

html{
	height: 100%;
}

body{
}

.homepage-background{
    position: fixed;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}


header{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

header a{
    color: #000000;
}
header a:link{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    margin-bottom: 50px;
    color: #2E6DA4;
}


footer{
    position: relative;
    top: 50px;
    bottom: 0;
	font-family: Sans-serif;
	font-size: 12px;	
}

.avatar{
    color: #FFFFFF;
    width: 46px;
    height: 46px;
    background: #37BA97;
    opacity: 0.7;
    border-radius: 23px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 12px;
}
.avatar span{
    bottom: 30%;
    position: relative;
}


.username{
	margin-bottom: 100px;
}

.username table{
    text-align: left;
	font-size: 20px;
}

.information-content{
    margin-top: 50px;
    font-size: 18px;
}

.edit-component{
    margin-top: 50px;
}
/*******************************************/
.albums_edit th, td{
	padding: 15px;
}

