<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="EECS 485 Project Website">
	<meta name="author" content="Wei Xu, Changhan Wang, Zhuo Chen"> 
	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <link rel="stylesheet" href="/static/css/style.css" />
    <title>EECS485</title>
    
</head>
<body>
  <img class="homepage-background"  src="/static/css/background.jpg">
  <div class="center">
    {% block content %}{% endblock %}
  </div>

  <script type="text/javascript" src="/static/js/main.js"></script>

</body>

</html>